<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="gurunntest">
    <classes>
      <class name="testcases.TC_VerifyTitleAndSortProducts"/> 
      <class name="testcases.TC_VerifyPriceOfProductInPdpPage"/>
      <class name="testcases.TC_VerifyLimitOfShoppingCart"/>
    </classes>
  </test> <!-- gurunntest -->
</suite> <!-- Suite -->
